body {
    background-color:rgb(255, 255, 255);    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: powderblue;
    color: white;
}

thead {
    background-color: mintcream;
}

table {
    color:  rgb(127, 148, 137);
}

nav {
    display: flex;
    justify-content: center;
    background-color:slateblue
}

.container {
    padding-bottom: 25px;
    padding-top: 25px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delete_grocery i{
    color: rgb(211, 100, 100);
}

#grocList {
    width: 100% !important;
}

#grocList_filter input{
    padding: 0px !important;
    height: 2rem;
}

.text_align_center{
    text-align: center;
}

.card-content > p {
    padding: 5px 0px 5px;
}

.recipe_ingredient_list{
    width: 80%;
    overflow: auto;
    max-height: 6rem;
}

#recipe-list{
    width: 90%;
}

.card-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-link{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    margin: 0px 20px 10px;
}

.card-link > a{
    font-size: medium;
    text-transform: capitalize;

    display: inherit;
}

.card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recipe-save-button{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recipe-save-button > i{
    padding-right: 3px;
}

.card-image{
    background-color: #eeeeee;
}

@media screen and (max-width: 768px){
    .card-footer{
        flex-direction: column;
        align-items: flex-start;
    }

    .recipe-save-button{
        margin: 10px 0px 10px;
    }
}

